/*
!.bashrc_local
!.bash_aliases
!.bashrc
!.gitconfig
!.gitignore
!.inputrc
!.profile
!.vimrc
!.gvimrc
!.conkyrc
!install.sh
!/python
!/scripts
!/bash
!/awk
!/sed
!/matlab
!/octave
!/html
!/C
!/FPGA
!/arduino
#*.exe
